body{
    min-height: 2000px;
}

.jumbotron {
    padding-top: 5rem;
}
#Projects{
    background-color: #00ffff;
}

section{
    padding-top: 5rem;
}
.carousel-item img{
    padding-top: 2rem;
    margin-top: -50;
}
